/*
Colors used:
Primary Color (Blue): #042562;
Background Color (White): #fafafa;
Dark Color (Gray): #2F2F2F;
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #b0c1e2;
  padding: 10px 0 4px;
  width: 100%;
  position: fixed;
  /* display: flex; /
  align-items: center; /* This vertically centers everything inside */
  /* justify-content: space-between; /* Space between logo and nav */
  /* padding: 1rem 2rem; */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  background-color: #fafafa;
  color: #2F2F2F;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #b0c1e2;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
  box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.5) ; 
  -webkit-box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.5) ; 
  -moz-box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.5) ;
}

.skills-list {
  list-style: none;      /* removes bullets */
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  gap: 20px;             /* space between items */
}

.footer-links {
  list-style: none;      /* removes bullets */
  padding: 0;
  margin: 0;
  display: flex;         /* puts them side by side */
  justify-content: center;
  gap: 20px;             /* space between links */
}

.footer-links li a {
  color: #042562;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #5f0462;
  text-decoration: underline;
}
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
#hero {
  background-color: #fafafa;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  
}
#hero h1 {
  text-align: center; 
  margin: 0;
  padding: 0.67em 0;
}

.cv-button {
  text-align: center;
  margin-bottom: 2rem;
}
.logo {
  max-width: 200px;
  margin-top: 0.25rem;
 
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  color: #4a4a4a;
}

.navtoggle {
  position: relative;
  margin: 0 1rem;
}

.navtoggle nav {
  height: 0;
  /* overflow: hidden; */
  transition: height 0.3s ease;
  

}

.navtoggle.responsive {
  position: relative;
  /* overflow: visible; */
  max-height: 500px;
  /* padding-top: 1rem; */
  margin: 0 1rem;
  background-color: #b0c1e2;
}


.navtoggle li:not(:last-child) {
  display: none;
 
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
  background-color: #b0c1e2;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

main {
  padding-top: 56px;
}


h1,
h2,
h3,
h4 {
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5rem;
}

h3 {
  font-size: 1.65em;
  font-weight: 400;
}
#about-page h3 { 
  margin-top: 0px;
}
h4 {
  font-size: 1.3em;
  font-weight: 400;
}


img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.phone-image {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}

.just3-icons {
  display: block;
  width: 100%;
  max-width: 3rem;
  height: auto;
  margin: 0 auto;
}

.just3-general {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 0 auto;
}

.just3-nav-bar {
  display: block;
  max-width: 40%;
  height: auto;
  margin: 0 auto;
}

#thank-you h1 {
  text-align: center;
  margin-bottom: 2rem;
}

a {
  color: #042562;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #0046c7;
}

a:hover,
a:focus {
  color: #5f0462;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #0b0300;
}

.button {
  display: inline-block;
  background-color: #042562;
  color: #fafafa;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  border-bottom: 0;
}

.button:visited {
  color: #fafafa;
}

.button.contact {
  background-color: transparent;
  color: #042562;
  text-transform: uppercase;
  border: 2px solid #2F2F2F;
  margin-bottom: 20px;
}

.button.contact:hover {
  background-color: #709ae7;
  color: #ffffff;
}

.button:contact:active {
  border-bottom: 0;
}



@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .logo {
    max-width: 150px;
    margin-top: 0.7rem;
   
  }
  
nav > ul {
  margin: 0.25rem 0;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  #about-page h3 {
    margin-top: 0;
  }

  body {
    font-size: 17px;
  }
}

/* ==============================
Large devices (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    font-size: 18px;
  }


/* .button {
  display: inline-block;
  background-color: #042562;
  color: #fafafa;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity ease-in-out;
}

.button:hover {
  opacity: 0.8;
} */

@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

nav a {
  transition: transform 0.2s ease;
}

nav a:hover {
  transform: scale(1.1);
}

main {
  padding-top: 99px;
}
body {
  font-size: 17px;
}

#hero {
  text-align: center;
}
#hero span {
  display: block;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page h3 {
  margin-top: 0;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-lg-7 {
    width: 60%;
  }
  .col-lg-5 {
    width: 40%;
  }
  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    font-size: 18px;
  }
}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}


